#login-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.container-login {
    background: white;
    padding: 20px 25px;
    border: 5px solid #ad1457;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }
  .col.s6 > .btn {
     width: 100%;
  }
  .gender-male,.gender-female {
    display: inline-block;
  }
  .gender-female {
    margin-left: 35px;
  }
  radio:required {
    border-color: red;
  }
  .container-login {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
  }
  
  @keyframes showUp {
    0% {
      transform: scale(0);
    }
    100% {
      transoform: scale(1);
    }
  }
  .row {margin-bottom: 10px;}
  
  .ngl {
    position: absolute;
    top: -20px;
    right: -20px;
  }