#categories {
    background-color: #f9f9f9;
    padding-top: 12px;
    padding-bottom: 24px;
  }
  #categories h2 {
    color: #333;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin-bottom: 12px;
  }
  .category-item {
    border: 4px;
    border-color: #ad1457;
    border-radius: 2.5px;
    border-style: solid !important;
    background-color: beige;
    color: #ad1457;
    font-weight: bold;
    margin-top: 6px;
  }
  .category-item i {
    padding-top: 6px;
    padding-bottom: 3px;
  }