#home-image{
  width: 100%;
  height: 250px;
}

.bottom_content{
  width: 100%;
}

.title{
  font-family: 'Baloo Bhai', cursive;
  color: #ad1457;
  /* height: 70px; */
}

.btnClr{
  background-color: #ad1457;
}

.btnClr:hover{
  background-color: white;
  color: #ad1457;
  border: 2px solid #ad1457;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card_shadow{
  box-shadow: 2px 2px 40px -30px rgba(0,0,0,1);
  border-radius: 6px;
}

.pa{
  padding: 5px;
}

.font{
  font-family: 'Baloo Bhai', cursive;
}

.radio-buttons-reciep:checked{
  color: #ad1457;
}

.collection-item:hover{
  background-color: #ad1457;
  color: white;
}


 [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color:#ad1457;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after { 
  border: 2px solid #ad1457;
}

.catagories.filled-in[type="checkbox"] + span:after{
  border: 2px solid #ad1457;
  background: transparent;
  border: 2px solid black;
}

.catagories.filled-in[type="checkbox"]:checked + span:after{
  background: #ad1457;
  border: 2px solid transparent;
}

.catagories.filled-in[type="checkbox"]:checked + span:before{
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.color_font{
  color: #ad1457;
}

#search_recipe{
  width: 50%;
}

.rotate {
  transform: rotate(30deg);
  margin-top: 150px;
}

#fridge_img{
  margin: 30px;
  width: 500px;
  height: 500px;
}